<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>inful-Web</title>
</head>
<body>
    <h1>顧客一覧</h1>
    {% for customer in customers %}
        <li>
            {{ customer.name }}さん {{ customer.age }}歳 <br>
        </li>
    {% endfor %}

    <h1>inful測定</h1>

    <!-- フォームの作成 -->
    <form action="/add" method="post">
        Twitter ID を入力して下さい<br>
        <input type="text" name="twitter_id" required><br>
        名前を入力して下さい<br>
        <input type="text" name="name" required><br>
        Age: <input type="number" name="age" required><br>
        <input type="submit" value="分析">
    </form>
</body>
</html>